services:
  postgres:
    image: postgres:16-alpine
    container_name: ${DB_CONTAINER_NAME}
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "6543:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - pg-data:/var/lib/postgresql/data
  api:
    build: .
    image: warehousecontrol
    container_name: warehousecontrol
    env_file: .env
    command: [ "/usr/local/bin/warehousecontrol" ]
    ports:
      - "8080:8080"
    depends_on:
      - postgres

volumes:
  pg-data:
